aniso8601==7.0.0
asgiref==3.2.7
astroid==2.3.3
autopep8==1.5.2
Django==3.0.14
django-admin==2.0.1
django-cors-headers==3.2.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-filter==2.2.0
django-graphql-jwt==0.3.1
django-six==1.0.4
entrypoints==0.3
flake8==3.7.9
graphene==2.1.8
graphene-django==2.9.1
graphql-core==2.3.1
graphql-relay==2.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
promise==2.3
psycopg2==2.8.5
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
pylint==2.4.4
pytz==2019.3
Rx==1.6.1
screen==1.0.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.1
wrapt==1.11.2
xlwt==1.3.0
